<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Magra:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/styles.css" />
  <title>HUGWARE LICENSE</title>
</head>
<body>
  <div class="container">
    {{ content }}

    <footer>
      <a href="https://github.com/elcuervo/hugware.org">Fork me!</a>
    </footer>
  </div>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36648656-2']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ?  'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(ga, s);
     })();
  </script>
</body>
</html>
